.login-div
{
    margin: auto;
	width:400px;
}
.center-div
{
    margin: auto;
	width:1000px;
}
.discTable {	
	width:900px;
	margin:0px;padding:0px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;	
}
.discTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.discTable tr:nth-child(odd){ 
	background-color:#d9eafc; 
}
.discTable tr:nth-child(even){ 
	background-color:#ffffff; 
}
.discTable td{
	vertical-align:middle;	
	border:1px solid #000000;
	border-width:0px 0px 0px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.discTable tr:first-child td{	
	background-color:#ffffff;
	border:0px solid #000000;
	text-align:center;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}